*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
}
.col-md-4{
    position: relative;

}
.caption {
    background-color: tomato;
    position: absolute;
    bottom: 30px;
    width: 80%;
    left:10% ;
}
.containerBox {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgBox{
    width: 30rem;
    height: 18rem;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.imgBox i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 20px;
}