li {
    color: #fff;
    transition: .6s;
    cursor: pointer;
}

li:hover{
    color: tomato;
}

body {
    background-color: #000;
}

img {
    height: 400px;
}
.nav-item i:hover{
       color: tomato;
       
}
.nav-item i{
    font-size: x-large;
    transition: .6s;
}
footer h6{
    font-size: large;
}