*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
   
}
.container {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.lists{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;
    text-decoration: none;
}
.list a {
    text-decoration: none;
}
.header a:hover{
    color: gold;
    transition: .6s;
    text-decoration: none;
}
.header ul {
    justify-content: space-between;
    display: flex;
    width: 60%;
    text-transform: capitalize;
}
.header .logo a{
   font-size: 2rem;
   color: crimson;
   font-weight: bold;

}
.user-image{
    background-image:url(..//bryam-blanco-qaV0ecYHL3o-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}
.icon{
    color: crimson;
    font-weight: bold;
    font-size: 2.5rem;
}
.icon:hover{
    color: gold;
    transition: .6s;
}
.liter h1 {
    font-size: 5rem;
    color: crimson;
    text-transform: uppercase;
margin: 15px 0;
text-align: center;
}
.liter h2 {
    color: crimson;
    font-size: 5rem;
text-align: center;
}
.introducion{
    background-color: #FF6464;
    color: black;
    
    font-size: 2rem;
text-align: center;

}
.about-me ul li{
    font-size:bold;
    color: black;
    width: 50%;
    display: inline-flex;
   

}
.about-me ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.btn-user {
    padding: 1.5rem 0;
}
#btn{
        font-size: 1.8rem;
        color: #fff;
        text-transform: capitalize;
        width: 1rem;
        height: 1rem;
        border: 1px solid #000;
        padding: 1rem  1.5rem;
        border-radius: .3rem;
        text-decoration: none;
       
}
#btn:hover{
    color: black;
    transition: .5s;
}
#btn i {
    margin-left: 10px;
}
.server h3{
    font-size: x-large;
    font-weight: bold;

}
.server {
    text-align: center;
    background-color: gainsboro;
}

.about-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: tomato;
    font-size: large;
    
}
.service-row {
    transition: .6s;
    padding: 1rem;
    border-radius: 6px;
    margin: 1rem;
}
.service-row:hover {
    background-color: #fff;
}

.service-row:hover i {
    transform: scale(1.1,1.1);
}

.about-services i {
    color: red;
    transition: .6s;
}
.proto-nav {
    width: 90%;
    margin: 0 auto;
}
.proto-nav .lists{
    justify-content: space-between;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    margin: 50px 0;
    font-size: x-large;
}
#active{
    color:gray;
}


.proto-nav .lists a:hover{
    color: gold;
    transition: .6s;
    background-color: black;
}
.proto-nav a{
    text-decoration: none;
}

.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container_imge {
    width: 35%;
}

.about .container_imge img {
    width: 100%;
}
.footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    
}
.user_footer_icon{
    
     
    display: flex;
    justify-content: center;
    
}

.user_footer_icon .icon a {
    margin: 1rem;
    text-decoration: none;
    color: #fff;
}

.user_footer_icon .icon a:hover{
    color: gold;
text-decoration: none;
transition: .6s;
}