*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-muted {
    color: #6c757d!important;
}
h1{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
}
footer ul:hover{
    color: aqua;
    transition: .5s;
    font-size: x-large;
}
footer h6{
    font-size: larger;
    color: aqua;
}